/*
    重写element-ui样式
*/

.ctx-menu-container {
    z-index: 2147483647;
}

// =========================================
// mavonEditor
#app {
    .v-note-wrapper {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .v-note-wrapper .v-note-panel .v-note-show .v-show-content {
        background-color: transparent !important;
        padding-left: 20px;
        padding-right: 20px;
    }
}
