.root {
    // height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    // min-width: 1032px;
    overflow: hidden;
    background-clip: content-box;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);

    .headerInner {
        position: relative;
        display: flex;
        align-items: center;
        width: 1080px;
        margin: 0 auto;
        transition: transform 0.3s;

        .left,
        .right {
            display: flex;
        }

        .left {
            flex-grow: 1;
            margin-right: 20px;
        }

        .right {
            flex-grow: 0;
        }
    }

    // ----------------------
    // logo
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 98px;
            height: 30px;
        }
    }

    // ----------------------
    // tabs
    .tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        margin: 0 22px;
        line-height: $global-header-h;

        li {
            padding: 0 6px;
            margin: 0 12px;
            position: relative;
            font-size: 16px;

            &.isActive {
                color: #444;
                font-weight: 600;
            }

            &.isActive:after {
                position: absolute;
                right: 0;
                bottom: -1px;
                left: 0;
                height: 3px;
                background: #0084ff;
                content: "";
            }
        }

        .bar {
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 3px;
            background: #0084ff;
        }
    }

    // ----------------------
    // search
    .search {
        margin-right: 20px;
        input {
            border-radius: 20px;
        }
    }

    // userInfo
    .userInfo {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
    }

    :global {
        // tabs
        .el-tabs__active-bar {
            bottom: 1px;
        }
        .el-tabs__nav-wrap::after {
            display: none;
        }

        .el-tabs__header {
            margin: 0;
        }

        // search
    }
}
